<div id="weekly-earning" class="card gradient-45deg-white gradient-shadow">
    <div class="card-content">
        <h4 class="header m-0" id="tour-total-crypto">{{ 'user.home.hodl.title'|trans }}</h4>
        <table class="highlight table-crypto nom-crypto img-crypto">
            <thead>
            <tr>
                <th>{{ 'user.crypto'|trans }}</th>
                <th>{{ 'user.solde_amount'|trans }}</th>
                <th>{{ 'user.amount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/btc.png') }}">
                    <p>BTC</p>
                </td>
                <td> <span id="btcSolde">0</span> </td>
                <td> <span id="btcSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/bch.png') }}">
                    <p>BCH</p>
                </td>
                <td> <span id="bchSolde">0</span> </td>
                <td> <span id="bchSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/ethereum.png') }}">
                    <p>ETH</p>
                </td>
                <td> <span id="ethSolde">0</span> </td>
                <td> <span id="ethSoldeK">0</span> € </td>
            </tr>

            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/etc.png') }}">
                    <p>ETC</p>
                </td>
                <td> <span id="etcSolde">0</span> </td>
                <td> <span id="etcSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/ltc.png') }}">
                    <p>LTC</p>
                </td>
                <td> <span id="ltcSolde">0</span> </td>
                <td> <span id="ltcSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/zec.png') }}">
                    <p>ZEC</p>
                </td>
                <td> <span id="zecSolde">0</span> </td>
                <td> <span id="zecSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/ripple.png') }}">
                    <p>XRP</p>
                </td>
                <td> <span id="xrpSolde">0</span> </td>
                <td> <span id="xrpSoldeK">0</span> € </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ asset('assets/user/office/img/eos.png') }}">
                    <p>EOS</p>
                </td>
                <td> <span id="eosSolde">0</span> </td>
                <td> <span id="eosSoldeK">0</span> € </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>