<div class="row" id="coinMarket">
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AXBTEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/btc.png') }}" alt="btc">
            <span id="XXBTZEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3ABCHEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/bch.png') }}" alt="bch">
            <span id="BCHEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AETHEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/ethereum.png') }}" alt="ethereum">
            <span id="XETHZEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AETCEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/etc.png') }}" alt="etc">
            <span id="XETCZEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3ALTCEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/ltc.png') }}" alt="ltc">
            <span id="XLTCZEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AZECEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/zec.png') }}" alt="zec">
            <span id="XZECZEUR">0.000 €</span>
        </div>
    </a>
    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AXRPEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/ripple.png') }}" alt="ripple">
            <span id="XXRPZEUR">0.000 €</span>
        </div>
    </a>

    <a href="https://dwq4do82y8xi7.cloudfront.net/widgetembed/?symbol=KRAKEN%3AEOSEUR&interval=60&symboledit=1&toolbarbg=f1f3f6&hideideas=1&studies=&theme=White&style=1&locale=fr&timezone=exchange" target="_blank">
        <div class="chip" style="background-color: transparent;">
            <img src="{{ asset('assets/user/office/img/eos.png') }}" alt="ripple">
            <span id="EOSEUR">0.000 €</span>
        </div>
    </a>

</div>