<div class="question">
    <div class="container">
        <div class="row">
            <div class="col s12 help-contenu">
                <h4 class="help-header">{{ 'home.help.title'|trans }}</h4>
                <p id="help-text">{{ 'home.help.content'|trans }}</p>
                <p id="help-contact"><a href="tel:+33188321475">{{ 'home.help.contact.phone'|trans }}</a> . <a href="mailto:contact@cryptizy.com">{{ 'home.help.contact.email'|trans }}</a></p>
            </div>
        </div>
        <div class="row help-action">
            <div class="col s12">
                <ul id="menu-presta">
                    <li><a href="{{ url('register') }}" title="inscription" class="waves-effect waves-light btn" id="estimations">{{ 'home.help.start'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>