{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/user/office/css/page-center.css') }}" type="text/css" rel="stylesheet">
    <style>
        #main {
            padding-left: 0px !important;
        }
    </style>
{% endblock %}
{% block header %}{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="card-panel teal lighten-2" style="background: #13C681 !important;color: #fff !important;">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form" method="post" action="{{ path('resetPassword') }}">
                <div class="row">
                    <div class="input-field col s12 center">
                        <a href="https://www.cryptizy.com">
                            <img src="{{ asset('assets/user/office/img/logo.png') }}" alt="cryptizy logo" class="responsive-img valign profile-image-login">
                        </a>
                        <p class="center login-form-text">Créer un nouveau mot de passe</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5 yellowcrypt">lock_outline</i>
                        <input class="yellowcrypt" id="password" name="_password" type="password" required>
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-5 yellowcrypt">lock_outline</i>
                        <input class="yellowcrypt" id="password" name="_password" type="password" required>
                        <label for="password">Confirmer le mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12 gradient-45deg-cryptizy gradient-shadow">Valider</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small"><a href="{{ url('register') }}">S'inscrire!</a></p>
                    </div>
                    {#<div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="{{ url('password_forget') }}">Mot de passe oublié ?</a></p>
                    </div>#}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}