{% extends 'base_user.html.twig' %}

{% block body %} <body class="layout-semi-dark"> {% endblock %}
{% block container %}
        <section id="content" style="overflow-x: auto;">
            <!--start container-->
            <div class="container">
                <div class="row" id="coinMarket">
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/btc.png') }}" alt="btc">
                        <span id="XXBTZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/bch.png') }}" alt="bch">
                        <span id="BCHEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/ethereum.png') }}" alt="ethereum">
                        <span id="XETHZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/etc.png') }}" alt="etc">
                        <span id="XETCZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/ltc.png') }}" alt="ltc">
                        <span id="XLTCZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/zec.png') }}" alt="zec">
                        <span id="XZECZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/ripple.png') }}" alt="ripple">
                        <span id="XXRPZEUR">0.000 €</span>
                    </div>
                    <div class="chip">
                        <img src="{{ asset('assets/user/office/img/eos.png') }}" alt="ripple">
                        <span id="EOSEUR">0.000 €</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            <h4 class="header mt-2" style="display: inline;">Historique de transfert</h4>
                        </div>
                        <div class="row">
                            <div class="card" id="historique">
                                <table class="highlight table-crypto nom-crypto img-crypto">
                                    <thead>
                                        <th>Date</th>
                                        <th>Coin</th>
                                        <th>Quantité</th>
                                        <th>Adresse Wallet</th>
                                        <th>état</th>
                                    </thead>
                                    <tbody>
                                    {% if cryptos is defined %}
                                        {% for t in cryptos %}
                                                <tr>
                                                    <td>{{ t.created | date('d/m/Y') }}</td>
                                                    <td>
                                                        <img src="{{ asset('assets/user/office/img/'~t.crypto.image) }}" alt="logo crypto">
                                                        <p>{{ t.crypto.indice }}</p>
                                                    </td>
                                                    <td>{{ t.amount }}</td>
                                                    <td>
                                                        {% if t.adresseWallet is null %}
                                                            <form method="post" action="{{ path('mes_cryptos') }}">
                                                                <div class="input-field col s12 m8">
                                                                    <input id="buyPriceBtc" name="adresseWallet" type="text" class="validate" required>
                                                                    <input type="hidden" name="id" value="{{ t.id }}">
                                                                    <label class="active" for="buyPriceBtc">Adresse Wallet</label>
                                                                </div>
                                                                <div class="input-field col s4">
                                                                    <button class="waves-effect waves-light btn gradient-45deg-deep-purple-blue gradient-shadow"  type="submit" value="Prendre RDV" style="color: #fff; display: block;">Ajouter</button>
                                                                </div>
                                                            </form>
                                                        {% else %}
                                                            {{ t.adresseWallet }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if t.stateTransfert == 0 %}
                                                            <span class="white-text gradient-45deg-amber-amber gradient-shadow mt-2" style="display: block">En cours</span>
                                                        {% else %}
                                                            <span class="white-text gradient-45deg-green-teal gradient-shadow mt-2" style="display: block">Reçu</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--yearly & weekly revenue chart end-->
        </section>
{% endblock %}