{% extends 'base_user.html.twig' %}

{% block body %}
    <section id="content">
        <!--start container-->
        <div class="container">
            <!--show crypto market-->
            {% include 'ui-component/currentCryptos.html.twig' %}

            <!--card stats start-->
            <div id="card-stats">
                <div class="row">
                    <div class="col s12 m3">
                        <div class="card frame-admin shadow-grey" style="min-height: 120px; overflow: visible;">
                            <div class="padding-4">
                                <div class="row">
                                    <div class="col s12 right-align">
                                        <h5 class="mb-0 thin" id="tour-dispo"> {{ solde }} €</h5>
                                        <p class="no-margin">{{ 'user.home.available'|trans }}</p>
                                        <p>{{ 'user.home.totalDepot'|trans }} : <span id="soldeDeposit">{{ totalDepose }} €</span></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="card frame-admin shadow-grey" style="min-height: 120px;">
                            <div class="padding-4">
                                <div class="row">
                                    <div class="col s12 right-align">
                                        <h5 class="mb-0 thin" id="tour-total">0</h5>
                                        <p class="no-margin">{{ 'user.home.totalEq'|trans }}</p>
                                        <p id="delta">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card stats end-->
            <div class="row">
                <div class="contenu">
                    <div class="col s12 m12 l4">
                        <!--show crypto market-->
                        {% include 'ui-component/cryptoUser.html.twig' %}
                    </div>
                    <div class="col s12 l8" >
                        {% if app.session.flashBag.has('success') %}
                            <div class="card-panel teal lighten-2" style="background: #13C681 !important;color: #fff !important;">
                                {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if app.session.flashBag.has('error') %}
                            <div class="card-panel teal red" style="background: red !important;color: #fff !important;">
                                {% for msg in app.session.flashBag.get('error') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="card menu" id="choix" style="overflow: visible!important; box-shadow: none;">
                            <div class="card-tabs categorie-presta">
                                <ul class="tabs tabs-fixed-width">
                                    {% if cryptos is defined %}
                                        {% for c in cryptos %}
                                            <li class="tab col s12 hoverable" id="listecrypto">
                                                <a title="Sélection de la cryptomonnaie" id="automobiliste-content" {% if c.id == 1 %} class="active" {% endif %} href="#{{ c.indice }}">
                                                    <span id="m-screen">{{ c.name }}</span>
                                                    <span id="s-screen">{{ c.name }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="card-content" style="background-color: #fff;">
                                {% if cryptos is defined %}
                                    {% for c in cryptos %}
                                        <div id="{{ c.indice }}">
                                            <div class=" col-sm-12 titre-crypto">
                                                <div class="row">
                                                    <img src="{{ asset('assets/user/office/img/' ~ c.image) }}" style="width: 50px; display: block;margin: auto; padding-top: 10px;">
                                                </div>
                                                <div class="row">
                                                    <h1 class="col l4 s12 offset-l4 gradient-shadow"> {{ c.name }}</h1>
                                                </div>

                                                <div class="row">
                                                    <form method="POST" action="{{ path('transfert-crypto') }}">
                                                        <div class="input-field col m6 s12 l4 offset-l4">
                                                            <input type="hidden" name="crypto_id" value="{{ c.id }}">
                                                            <input id="costBtc" name="montant" type="text" class="validate" required>
                                                            <label class="active" for="costBtc">{{ 'user.transfert.qt'|trans }}</label>
                                                        </div>
                                                        <div class="input-field col s12 m9">
                                                            <i class="material-icons prefix" style="color: #fbc02d">account_balance_wallet</i>
                                                            <select name="wallet">
                                                                <option value="" disabled selected>{{ 'user.transfert.choose_adress'|trans }}</option>
                                                                {% if MyAdressewallets is defined %}
                                                                    {% for a in MyAdressewallets %}
                                                                        <option value="{{ a.id }}"> {{ a.adresse }} - {{ a.crypto.name }} </option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                            <label>Adresse Wallet</label>
                                                        </div>
                                                        <div class="col s12 m3">
                                                            <a class="btn gradient-45deg-indigo-blue gradient-shadow activator" style="font-size: 10px; display: block; margin: auto;">{{ 'user.transfert.add.button'|trans }}</a>
                                                        </div>
                                                        <div class="input-field col s12" id="index" style="color: #fff;">
                                                            <button class="waves-effect waves-light btn gradient-45deg-amber-amber gradient-shadow"  type="submit" value="Prendre RDV" id="search" style="color: #fff; display: block; margin: auto;">{{ 'user.valid'|trans }}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card-reveal" style="display: none; transform: translateY(0px);">
                                <span class="card-title grey-text text-darken-4">
                                    {{ 'user.transfert.add.title'|trans }}
                                    <i class="material-icons right">close</i>
                                </span>
                                <div class="row">
                                    <form class="col s12" method="post" action="{{ path('addWallet') }}">
                                        <div class="row">
                                            <div class="input-field col m6 s12 l6 offset-l3" style="z-index: 99">
                                                <select name="crypto_id">
                                                    <option value="" disabled selected>{{ 'user.transfert.add.choose_crypto'|trans }}</option>
                                                    {% if cryptos is defined %}
                                                        {% for c in cryptos %}
                                                            <option value="{{ c.id }}">{{ c.indice }} - {{ c.name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                                <label>{{ 'user.crypto'|trans }}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12 l6 offset-l3">
                                                <i class="material-icons prefix" style="color: #fbc02d">assignment</i>
                                                <input id="description" name="description" required value="" type="text">
                                                <label for="description">{{ 'user.transfert.add.description'|trans }}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col m6 s12 l6 offset-l3">
                                                <i class="material-icons prefix" style="color: #fbc02d">account_balance_wallet</i>
                                                <input id="costBtc" name="adresse" type="text" class="validate" required>
                                                <label class="active" for="costBtc">{{ 'user.transfert.add.adress'|trans }}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <button class="btn btn-success waves-effect waves-light right gradient-45deg-indigo-light-blue gradient-shadow" type="submit" name="action">
                                                        {{ 'user.valid'|trans }}<i class="material-icons right">send</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="highlight table-crypto img-crypto nom-crypto">
                        <thead>
                        <tr>
                            <th style="text-align: center">{{ 'user.id'|trans }}</th>
                            <th></th>
                            <th>{{ 'user.qt'|trans }}</th>
                            <th>{{ 'user.fees'|trans }}</th>
                            <th>{{ 'user.transfert.add.adress'|trans }}</th>
                            <th>{{ 'user.state'|trans }}</th>
                            <th>{{ 'user.date'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if transfertCrypto is defined %}
                            {% for t in transfertCrypto %}
                                {% if t.adressewallet.crypto %}
                                <tr>
                                    <td style="font-size: 13px; text-align: center">{{ t.id }}</td>
                                    <td>
                                        <img src="{{ asset('assets/user/office/img/' ~ t.adressewallet.crypto.image) }}">
                                    </td>
                                    <td>{{ t.amount }} {{ t.adressewallet.crypto.indice }}</td>
                                    <td>{{ t.frais }} {{ t.adressewallet.crypto.indice }}</td>
                                    <td>
                                        {{ t.adressewallet.adresse }}
                                    </td>
                                    <td>
                                        {% if t.state == 1 %}
                                            <span class="badge white-text gradient-45deg-green-teal gradient-shadow mt-2 mr-2 left">{{ 'user.executed'|trans }}</span>
                                        {% else %}
                                            <span class="badge white-text gradient-45deg-red-pink gradient-shadow mt-2 mr-2 left">{{ 'user.pending'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ t.created | date('d/m/Y') }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}