{% extends 'base_admin.html.twig' %}

{% block body %}
<section id="content">
    <!--start container-->
    <div class="container">
        <div id="card-widgets" class="seaction">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="card img-crypto nom-crypto">
                            <form method="post" action="{{ path('details_user') }}">
                                <div class="col m1 s12">
                                    <center>
                                        <p style="font-size: 13px; text-align: center">
                                            180101010002<br>
                                            5124GHFS<br>
                                            KABLAN
                                        </p>
                                    </center>

                                </div>
                                <div class="input-field col m1 s12">
                                    <img src="{{ asset('assets/user/office/img/ethereum.png') }}"><p>ETH</p>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_grocery_store</i>
                                    <input id="exchangeZec" type="text" class="validate">
                                    <label class="active" for="exchangeZec">Exchange</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">layers</i>
                                    <input id="amountZec" type="text" class="validate">
                                    <label class="active" for="amountZec">Amount</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_offer</i>
                                    <input id="buyPriceZec" type="text" class="validate">
                                    <label class="active" for="buyPriceZec">Buy Price</label>
                                </div>
                                <div class="input-field col m1 s12">
                                    <p style="text-align: center; font-size: 1.5em;">500 €</p>
                                </div>
                                <div class="input-field col m2 s12 l2">
                                    <i class="material-icons prefix" style="color: #3c58b5">date_range</i>
                                    <input id="dateZec" type="date" class="validate">
                                    <label class="active" for="dateZec">Date</label>
                                </div>
                                <div class="input-field col m1 s12 mb-4" id="index" style="color: #fff;">
                                    <button class="waves-effect waves-light btn-floating gradient-45deg-indigo-light-blue gradient-shadow"  type="submit" value="Prendre RDV" style="color: #fff; display: block; margin: auto;">
                                        <i class="material-icons prefix" style="right: 0px; bottom: 0px; left: 0px">done</i>
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="card img-crypto nom-crypto">
                            <form method="post" action="{{ path('details_user') }}">
                                <div class="col m1 s12">
                                    <center>
                                        <p style="font-size: 13px; text-align: center">
                                            180101010002<br>
                                            5124GHFS<br>
                                            KABLAN
                                        </p>
                                    </center>

                                </div>
                                <div class="input-field col m1 s12">
                                    <img src="{{ asset('assets/user/office/img/btc.png') }}"><p>BTC</p>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_grocery_store</i>
                                    <input id="exchangeZec" type="text" class="validate">
                                    <label class="active" for="exchangeZec">Exchange</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">layers</i>
                                    <input id="amountZec" type="text" class="validate">
                                    <label class="active" for="amountZec">Amount</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_offer</i>
                                    <input id="buyPriceZec" type="text" class="validate">
                                    <label class="active" for="buyPriceZec">Buy Price</label>
                                </div>
                                <div class="input-field col m1 s12">
                                    <p style="text-align: center; font-size: 1.5em;">250 €</p>
                                </div>
                                <div class="input-field col m2 s12 l2">
                                    <i class="material-icons prefix" style="color: #3c58b5">date_range</i>
                                    <input id="dateZec" type="date" class="validate">
                                    <label class="active" for="dateZec">Date</label>
                                </div>
                                <div class="input-field col m1 s12 mb-4" id="index" style="color: #fff;">
                                    <button class="waves-effect waves-light btn-floating gradient-45deg-indigo-light-blue gradient-shadow"  type="submit" value="Prendre RDV" style="color: #fff; display: block; margin: auto;">
                                        <i class="material-icons prefix" style="right: 0px; bottom: 0px; left: 0px">done</i>
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="card img-crypto nom-crypto">
                            <form method="post" action="{{ path('details_user') }}">
                                <div class="col m1 s12">
                                    <center>
                                        <p style="font-size: 13px; text-align: center">
                                            180101010002<br>
                                            5124GHFS<br>
                                            KABLAN
                                        </p>
                                    </center>

                                </div>
                                <div class="input-field col m1 s12">
                                    <img src="{{ asset('assets/user/office/img/zec.png') }}"><p>ZEC</p>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_grocery_store</i>
                                    <input id="exchangeZec" type="text" class="validate">
                                    <label class="active" for="exchangeZec">Exchange</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">layers</i>
                                    <input id="amountZec" type="text" class="validate">
                                    <label class="active" for="amountZec">Amount</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_offer</i>
                                    <input id="buyPriceZec" type="text" class="validate">
                                    <label class="active" for="buyPriceZec">Buy Price</label>
                                </div>
                                <div class="input-field col m1 s12">
                                    <p style="text-align: center; font-size: 1.5em;">1 000 €</p>
                                </div>
                                <div class="input-field col m2 s12 l2">
                                    <i class="material-icons prefix" style="color: #3c58b5">date_range</i>
                                    <input id="dateZec" type="date" class="validate">
                                    <label class="active" for="dateZec">Date</label>
                                </div>
                                <div class="input-field col m1 s12 mb-4" id="index" style="color: #fff;">
                                    <button class="waves-effect waves-light btn-floating gradient-45deg-indigo-light-blue gradient-shadow"  type="submit" value="Prendre RDV" style="color: #fff; display: block; margin: auto;">
                                        <i class="material-icons prefix" style="right: 0px; bottom: 0px; left: 0px">done</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card img-crypto nom-crypto">
                            <form method="post" action="{{ path('details_user') }}">
                                <div class="col m1 s12">
                                    <center>
                                        <p style="font-size: 13px; text-align: center">
                                            180101010002<br>
                                            5124GHFS<br>
                                            KABLAN
                                        </p>
                                    </center>

                                </div>
                                <div class="input-field col m1 s12">
                                    <img src="{{ asset('assets/user/office/img/bch.png') }}"><p>BCH</p>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_grocery_store</i>
                                    <input id="exchangeZec" type="text" class="validate">
                                    <label class="active" for="exchangeZec">Exchange</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">layers</i>
                                    <input id="amountZec" type="text" class="validate">
                                    <label class="active" for="amountZec">Amount</label>
                                </div>
                                <div class="input-field col m2 s12">
                                    <i class="material-icons prefix" style="color: #3c58b5">local_offer</i>
                                    <input id="buyPriceZec" type="text" class="validate">
                                    <label class="active" for="buyPriceZec">Buy Price</label>
                                </div>
                                <div class="input-field col m1 s12">
                                    <p style="text-align: center; font-size: 1.5em;">500 €</p>
                                </div>
                                <div class="input-field col m2 s12 l2">
                                    <i class="material-icons prefix" style="color: #3c58b5">date_range</i>
                                    <input id="dateZec" type="date" class="validate">
                                    <label class="active" for="dateZec">Date</label>
                                </div>
                                <div class="input-field col m1 s12 mb-4" id="index" style="color: #fff;">
                                    <button class="waves-effect waves-light btn-floating gradient-45deg-indigo-light-blue gradient-shadow"  type="submit" value="Prendre RDV" style="color: #fff; display: block; margin: auto;">
                                        <i class="material-icons prefix" style="right: 0px; bottom: 0px; left: 0px">done</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}