{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="body-container">
        <div class="row" style="background-color: #fff; padding: 20px;">
            <h4>{{ 'legal.aml.title'|trans }}</h4>
            <p>
                {{ 'legal.aml.content1'|trans }}<br><br>
                {{ 'legal.aml.content2'|trans }}<br><br>
                <b>{{ 'legal.aml.policy.title'|trans }}</b><br><br>
                {{ 'legal.aml.policy.content1'|trans }}<br><br>
                {{ 'legal.aml.policy.content2'|trans }}<br><br>
                {{ 'legal.aml.policy.content3'|trans }}<br><br>
                <b>{{ 'legal.aml.procedure.title'|trans }}</b><br><br>
                {{ 'legal.aml.procedure.content.p'|trans }}<br><br>
                {{ 'legal.aml.procedure.content.1'|trans }}<br><br>
                {{ 'legal.aml.procedure.content.2'|trans }}<br><br>
                {{ 'legal.aml.procedure.content.3'|trans }}<br><br>
                <b>{{ 'legal.aml.kyc.title'|trans }}</b><br><br>
                {{ 'legal.aml.kyc.content'|trans }}<br><br>
                <b>{{ 'legal.aml.individual.title'|trans }}</b><br><br>
                {{ 'legal.aml.individual.content.p'|trans }}<br><br>
                {{ 'legal.aml.individual.content.1'|trans }}<br><br>
                {{ 'legal.aml.individual.content.2'|trans }}<br><br>
                <b>{{ 'legal.aml.monitor.title'|trans }}</b><br><br>
                {{ 'legal.aml.monitor.content'|trans }}<br><br>
                <b>{{ 'legal.aml.deposit_withdraw.title'|trans }}</b><br><br>
                {{ 'legal.aml.deposit_withdraw.content.p'|trans }}<br><br>
                {{ 'legal.aml.deposit_withdraw.content.1'|trans }}<br><br>
                {{ 'legal.aml.deposit_withdraw.content.2'|trans }}<br><br>
                {{ 'legal.aml.deposit_withdraw.content.3'|trans }}<br><br>
            </p>
        </div>
    </div>
{% endblock %}