{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="body-container">
    <div class="row" style="background-color: #fff; padding: 20px;">
        <h4>{{ 'legal.cgu.title'|trans }}</h4>
        <p>
            <b>{{ 'legal.cgu.art1.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art1.content.1'|trans }}<br><br>
            {{ 'legal.cgu.art1.content.2'|trans }}<br><br>
            {{ 'legal.cgu.art1.content.3'|trans }}<br><br>
            {{ 'legal.cgu.art1.content.4'|trans }}<br><br>
            {{ 'legal.cgu.art1.content.5'|trans }}<br><br>
            <b>{{ 'legal.cgu.art2.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art2.content.1'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.2'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.3'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.4'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.5'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.6'|trans }}<br><br>
            {{ 'legal.cgu.art2.content.7'|trans }}<br><br>
            <b>{{ 'legal.cgu.art3.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art3.content.subcontent'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subtitle2'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subtitle3'|trans }}<br><br>
            {{ 'legal.cgu.art3.content.subcontent3'|trans }}<br><br>
            <b>{{ 'legal.cgu.art4.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art4.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle2'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent2'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle3'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent3'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle4'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent4'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle5'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent5'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle6'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent6'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subtitle7'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent7'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent8'|trans }}<br><br>
            {{ 'legal.cgu.art4.content.subcontent9'|trans }}<br><br>
            <b>{{ 'legal.cgu.art5.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art5.content.subcontent-a'|trans }}<br><br>
            {{ 'legal.cgu.art5.content.subcontent-b'|trans }}<br><br>
            {{ 'legal.cgu.art5.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art5.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art5.content.subcontent2'|trans }}<br><br>
            <b>{{ 'legal.cgu.art6.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art6.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art6.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art6.content.subtitle2'|trans }}<br><br>
            {{ 'legal.cgu.art6.content.subcontent2'|trans }}<br><br>
            {{ 'legal.cgu.art6.content.subtitle3'|trans }}<br><br>
            {{ 'legal.cgu.art6.content.subcontent3'|trans }}<br><br>
            <b>{{ 'legal.cgu.art7.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art7.content'|trans }}<br><br>
            <b>{{ 'legal.cgu.art8.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art8.content'|trans }}<br><br>
            <b>{{ 'legal.cgu.art9.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art9.content.subcontent-a'|trans }}<br><br>
            {{ 'legal.cgu.art9.content.subcontent-b'|trans }}<br><br>
            {{ 'legal.cgu.art9.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art9.content.subcontent1'|trans }}<br><br>
            <b>{{ 'legal.cgu.art10.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art10.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art10.content.subcontent1'|trans }}<br><br>
            <b>{{ 'legal.cgu.art11.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art11.content.subcontent-reparizy'|trans }}<br><br>
            {{ 'legal.cgu.art11.content.subcontent-capital'|trans }}<br>
            {{ 'legal.cgu.art11.content.subcontent-rcs'|trans }}<br>
            {{ 'legal.cgu.art11.content.subcontent-publication'|trans }}<br>
            {{ 'legal.cgu.art11.content.subcontent-hebergeur'|trans }}<br><br>
            {{ 'legal.cgu.art11.content.subcontent-president'|trans }}<br>
            {{ 'legal.cgu.art11.content.subcontent-dg1'|trans }}<br>
            {{ 'legal.cgu.art11.content.subcontent-dg2'|trans }}<br><br>
            {{ 'legal.cgu.art11.content.subcontent'|trans }}<br><br>
            <b>{{ 'legal.cgu.art12.title'|trans }}</b><br><br>
            {{ 'legal.cgu.art12.content.subtitle1'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent1'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subtitle2'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent2'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subtitle3'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent3'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subtitle4'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent4'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subtitle5'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent5'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subtitle6'|trans }}<br><br>
            {{ 'legal.cgu.art12.content.subcontent6'|trans }}
        </p>
    </div>
</div>
{% endblock %}



