{% extends 'base-formation.html.twig' %}

{% block meta %}
    <meta name="description" content="Formation Blockchain pour les entreprises. Bienvenue dans l'univers Blockchain et des cryptomonnaies. Qu'est-ce que le Bitcoin ? Qu'est-ce la Blockchain ? Comment ça marche ? Et comment l'implémenter dans vos métiers ?">
    <meta name="keywords" content="formation blockchain, formation blockchain entreprise, formation blockchain pour les entreprises, formation bitcoin, formation cryptizy, cryptizy, formation blockchain cryptizy">
{% endblock %}

{% block title %}Formation Blockchain pour les entreprises - Cryptizy{% endblock %}

{% block body %}
    <main id="formation">
        <div class="container">
            <div class="row anim-section-quote">
                <div class="col s12 m6">
                    <h1 id="" style="text-align: left; font-size: 2.4em; font-family: 'roboto', sans-serif; font-weight: 300; margin-top: 250px; background-color: rgba(250,250,250,0.5);">Formation Blockchain pour les entreprises</h1>
                    <h2 style="text-align: left; font-size: 2.2em; background-color: rgba(250,250,250,0.5);">
                        Bienvenue dans l'univers Blockchain et des cryptomonnaies.
                    </h2>
                    <a href="mailto:contact@cryptizy.com" title="reservio cryptizy" class="btn gradient-45deg-indigo-blue gradient-shadow white-text" id="nav-text" itemprop="url">Réservez maintenant !</a>
                </div>
                <div class="col s12 m6">
                    <img class="mb-2" src="{{ asset('assets/user/img/formation-blockchain-5.png') }}" style="width: 100%; background-color: rgba(250,250,250,0.5);  margin-top: 150px;">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-10 mb-10">
                <div class="col s12 center mb-5">
                    <h3 style="color: #3c59b6;" class="roboto-light">Modalités de la formation</h3>
                </div>
                <div class="col s12 m3">
                    <img src="{{ asset('assets/user/img/stopclock.png') }}" style="display: block; margin: auto; max-width: 100px;">
                    <h4 class="roboto-light" style="text-align: center;">Durée</h4>
                    <p style="text-align: center; font-size: 1.6em;" class="roboto-light">
                        1/2 journée (3h30)
                    </p>
                </div>
                <div class="col s12 m3">
                    <img src="{{ asset('assets/user/img/web.png') }}" style="display: block; margin: auto; max-width: 100px;">
                    <h4 class="roboto-light" style="text-align: center;">Coût</h4>
                    <p style="text-align: center; font-size: 1.6em;" class="roboto-light">
                        1050 € HT
                    </p>
                </div>
                <div class="col s12 m3">
                    <img src="{{ asset('assets/user/img/placeholder.png') }}" style="display: block; margin: auto; max-width: 100px;">
                    <h4 class="roboto-light" style="text-align: center;">Lieu</h4>
                    <p style="text-align: center; font-size: 1.6em;" class="roboto-light">
                        Dans les locaux de votre entreprise
                    </p>
                </div>
                <div class="col s12 m3">
                    <img src="{{ asset('assets/user/img/help.png') }}" style="display: block; margin: auto; max-width: 100px;">
                    <h4 class="roboto-light" style="text-align: center;">Examen</h4>
                    <p style="text-align: center; font-size: 1.6em;" class="roboto-light">
                        Pas d'examen
                    </p>
                </div>
            </div>
        </div>

        <div class="ux-bg" id="section-formation-2" style="margin-top: 150px; margin-bottom: 150px;">
            <div class="container row">
                <div class="col s12 m9">
                    <h3 class="roboto-light" style="color: #3c59b6;">Description</h3>
                    <p class="mb-5" style="text-align: left; font-size: 1.6em; font-family: 'roboto', sans-serif; font-weight: 300; background-color: rgba(255,255,255,0.5)">
                        Depuis la création d'internet, nos données personnelles et nos transactions sont devenues vulnérables. La fourniture de services sur internet par des organismes
                        centralisés donne à ces même organismes la possibilité de manipuler les données comme ils le souhaitent. Malgré la réglementation existante, nous en avons vu
                        récemment les dérives (cf. Facebook).<br>
                        <br>
                        C'est pourquoi depuis plusieurs décennies, des cryptographes, soucieux de la protection de nos données, tentent de trouver une solution à ce grand problème.<br>
                        <br>
                        <b>Cette solution est la Blockchain.</b><br>
                        <br>
                        La crise de 2008 a remis en doute la confiance accordé aux organismes centralisés qui dirigent notre monde et nos données. Quelques mois après la crise, le
                        <b>Bitcoin</b> est né ! Il se base sur la solution <b>Blockchain</b>.<br>
                        <br>
                        Qu'est-ce que le Bitcoin ? Qu'est-ce la Blockchain ? Comment ça marche ? Et comment l'implémenter dans vos métiers ?<br>
                        <br>
                        Nous répondrons ensemble à ces questions dans cette formation d'une journée. Le Bitcoin, les cryptomonnaies et la Blockchain n'auront plus de secret pour vous.
                        Après la transformation numérique, vous pourrez enfin entamer la transformation Blockchain.<br>
                    </p>
                    <h3 class="roboto-light mt-10" style="color: #3c59b6;">Objectifs pédagogiques</h3>
                    <p class="mb-5" style="text-align: left; font-size: 1.6em; font-family: 'roboto', sans-serif; font-weight: 300; background-color: rgba(255,255,255,0.5)">
                        ✔️Comprendre la Blockchain et les cryptomonnaies<br>
                        <br>
                        ✔️Avoir une vision claire de l'écosystème Blockchain<br>
                        <br>
                        ✔️Découvrir des cas d'usage pertinents pour votre métier<br>
                        <br>
                        ✔️Découvrir les perspectives qu'offre la Blockchain en lien avec d'autres technologies (IA, Big Data, IoT, etc.)<br>
                    </p>
                    <a href="mailto:contact@cryptizy.com" title="reservio cryptizy" class="btn gradient-45deg-indigo-blue gradient-shadow white-text" id="nav-text" itemprop="url">Réservez maintenant !</a>
                </div>
                <div class="col s12 m3">
                </div>
            </div>
        </div>

        <div class="row" id="section-formation-3" style="margin-top: 150px; margin-bottom: 0px;">
            <div class="container">
                <div class="col s12 center">
                    <h3 class="roboto-light" style="color: #3c59b6;">Programme</h3>
                </div>

                <section id="cd-timeline" class="col s12 m12 cd-container">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="{{ asset('assets/user/img/rewind.png') }}" alt="Picture">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>1. Préhistoire du Bitcoin</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                            <img src="{{ asset('assets/user/img/fast-forward.png') }}" alt="Movie">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>2. Plongez dans l'univers Blockchain</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="{{ asset('assets/user/img/rewind.png') }}" alt="Picture">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>3. Démontration : Utilisez la Blockchain</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location">
                            <img src="{{ asset('assets/user/img/fast-forward.png') }}" alt="Location">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>4. Écosystème Blockchain dynamique</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="{{ asset('assets/user/img/rewind.png') }}" alt="Picture">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>5. Ethereum et les Smart-Contracts</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location">
                            <img src="{{ asset('assets/user/img/fast-forward.png') }}" alt="Location">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>6. Régulation et Fiscalité</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="{{ asset('assets/user/img/rewind.png') }}" alt="Picture">
                        </div>

                        <div class="cd-timeline-content hoverable">
                            <h2>7. La transformation Blockchain</h2>
                            <p>...</p>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-location">
                            <img src="{{ asset('assets/user/img/fast-forward.png') }}" alt="Location">
                        </div>
                        <div class="cd-timeline-content hoverable">
                            <h2>8. Atelier : La Blockchain au service de votre métier</h2>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}