{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="body-container">
    <div class="row" style="background-color: #fff; padding: 20px;">
        <h4>{{ 'legal.privacy.title'|trans }}</h4>
        <p>
            {{ 'legal.privacy.content1.1'|trans }}<br><br>

            {{ 'legal.privacy.content1.2'|trans }}<br><br>

            {{ 'legal.privacy.content1.3'|trans }}<br><br>

            <b>{{ 'legal.privacy.informations.title'|trans }}</b><br><br>

            {{ 'legal.privacy.informations.content'|trans }}<br><br>

            {{ 'legal.privacy.informations.type.name'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.gender'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.id'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.adresse'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.email'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.phone'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.bank'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.birthdate'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.job'|trans }}<br><br>
            {{ 'legal.privacy.informations.type.bill'|trans }}<br><br>


            {{ 'legal.privacy.informations.use.content'|trans }}<br><br>

            {{ 'legal.privacy.informations.use.personnalize'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.upgrade1'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.analyze'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.upgrade2'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.verify'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.transactions'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.email'|trans }}<br><br>
            {{ 'legal.privacy.informations.use.promote'|trans }}<br><br>

            {{ 'legal.privacy.informations.content1'|trans }}<br><br>


            <b>{{ 'legal.privacy.ip.title'|trans }}</b><br><br>

            {{ 'legal.privacy.ip.content'|trans }}<br><br>

            <b>{{ 'legal.privacy.cookies.title'|trans }}</b><br><br>

            {{ 'legal.privacy.cookies.content.a'|trans }}<br><br>

            {{ 'legal.privacy.cookies.content.b'|trans }}<br><br>

            {{ 'legal.privacy.cookies.content.c'|trans }}<br><br>

            {{ 'legal.privacy.cookies.content.d'|trans }}<br><br>


            <b>{{ 'legal.privacy.disclosure.title'|trans }}</b><br><br>

            {{ 'legal.privacy.disclosure.content.a'|trans }}<br><br>

            {{ 'legal.privacy.disclosure.content.b'|trans }}<br><br>

            {{ 'legal.privacy.disclosure.content.c'|trans }}<br><br>

            <b>{{ 'legal.privacy.third.title'|trans }}</b><br><br>

            {{ 'legal.privacy.third.content.a'|trans }}<br><br>

            {{ 'legal.privacy.third.content.b'|trans }}<br><br>

            <b>{{ 'legal.privacy.modify.title'|trans }}</b><br><br>

            {{ 'legal.privacy.modify.content.a'|trans }}<br><br>

            {{ 'legal.privacy.modify.content.b'|trans }}<br><br>

            <b>{{ 'legal.privacy.security.title'|trans }}</b><br><br>

            {{ 'legal.privacy.security.content.a'|trans }}<br><br>

            {{ 'legal.privacy.security.content.b'|trans }}<br><br>

            {{ 'legal.privacy.security.content.c'|trans }}<br><br>

            <b>{{ 'legal.privacy.retention.title'|trans }}</b><br><br>

            {{ 'legal.privacy.retention.content'|trans }}<br><br>

            <b>{{ 'legal.privacy.changes.title'|trans }}</b><br><br>

            {{ 'legal.privacy.changes.content'|trans }}<br><br>

            <b>{{ 'legal.privacy.contact.title'|trans }}</b><br><br>

            {{ 'legal.privacy.contact.content'|trans }}<br><br>

        </p>
    </div>
</div>

{% endblock %}



