<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            background-color: #eee;
        }

        .corps {
            background-color: #fff;
            margin: auto;
            padding: 0 0 20px 0px;
            width: 80%
        }

        .img-icon{ width: 306px; padding-top: 7px; }

        p {
            padding: 5px;
            font-family: 'Roboto', sans-serif;
        }

        p#email {
            color: #404040;
        }

        .title {
            background-color: #272d4e;
            color: #fff;
            background-image: url('http://cryptizy.com/assets/user/img/a.png');
            padding: 10px;
        }

        .reponse {
            margin: 20px auto;
            width: 200px;
        }

        .btn-confirme {
            border: 1px solid #aaa;
            background: #eee;
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;
        }

        .btn-confirme a, .btn-annule a {
            cursor: pointer;
            text-decoration: none;
        }

        .btn-confirme h1 {
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }

        img#coeur {
            width: 12px;
        }

        p#merci {
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
<nav>
    <div style="text-align: center;" >
        <img src="http://cryptizy.com/assets/user/img/logo.png" class="img-icon" >
    </div>
</nav>
<div class="corps">
    <div class="title">
        <h3 style="text-align: center; font-family: 'Roboto', sans-serif; color: #fff;">Documents disponibles</h3>
    </div>
    <p>
        Les documents de : <br><br>
        <b>Nom complet:</b> {{ nom }} {{ prenom }}<br>
        <b>Réference:</b> {{ ref }}<br>
        <b>Type:</b> {{ type }}<br><br>

        ont été téléchargés sur son compte et sont disponibles pour être examinés.
    </p>
    <div>
        <a href="{{ source }}" target="_blank">
            <img src="{{ source }}" style="width: 360px;height: 400px;border:1px solid #aaa;" class="responsive-img">
        </a>
        <object data="{{ source }}" type="application/pdf" class="responsive-img" title="cv" width="360" height="200"></object>
    </div>
    <div class="reponse">
        <div class="btn-confirme">
            <a href="{{ url('login') }}" target="_blank" style="font-family: 'Robot', sans-serif;">
                Voir les détails
            </a>
        </div>
    </div>
    <br>
    <div class="details">
        <div class="corps">
            <p id="merci">Merci, <br>
                L'équipe Cryptizy. <br>
                Avec <a><img id="coeur" src="http://cryptizy.com/assets/user/img/coeur.png"></a>
            </p>
        </div>
    </div>

</div>
</body>
</html>